<html xmlns:th ="http://thymeleaf.org">
<head>
	<title>OnlineBank</title>
	<link rel="stylesheet"href="/css/transactions.css"/>
</head>
<body>
<h2>TransactionHistory</h2>

<table>
	<thead>
	<tr>
		<th>ID</th>
		<th>Date</th>
		<th>Retailer</th>
		<th>FundsIn</th>
		<th>FundsOut</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="transaction:${transactions}">
	<td><a th:href="@{/transactions/{id}(id=${transaction.id})}"th:text="${transaction.id}">ID</a></td>
	<td th:text="${transaction.date}">Date</td>
	<td th:text="${transaction.retailer}">Retailer</td>
	<td th:text="${transaction.type=='D'?transaction.amount:''}">FundsIn</td>
	<td th:text="${transaction.type=='C'?-transaction.amount:''}">FundsOut</td>
	</tr>
	</tbody>
</table>
</body>
</html>
